@media screen and (max-width:615px) and (max-height:1600px) {
    .top {
        height: 14vh;
    }

    .top ul li {
        padding: 1.5vh 3vw;
        font-size: 4vw;
    }

    .img img:hover {
        border-width: 4px;
    }

    .img img {
        height: 28vw;
    }

    .main {
        position: absolute;
        top: 14vh;
        left: 30vw;
    }

    .skills {
        height: 21.5vh;
        width: 28vw;
        position: absolute;
        top: 63vw;
        font-size: 1.8vw;
    }

    .skills li {
        margin-top: 0.5vh;
        height: 1.3vh;
        width: 27vw;
    }
    .interest {
        height: 6vh;
        width: 97vw;
        position: absolute;
        top: 106vw;
        font-size: 1vw;
    }

    .interest li {
        margin-top: 0.5vh;
        margin-left: 11vw;
        height: 1.3vh;
        width: 27vw;
        font-size: 8px;
    }

    .projects {
        height: 67vh;
        position: absolute;
        top: 59vh;
        font-size: 4vw;
    }

    .images {
        height: 63vh;
        width: 21vw;
    }

    .images ul li img {
        height: 70px;
    }

    .images ul li {
        margin-top: 1vh;
        margin-bottom: 2vh;
        margin-left: 2vw;
    }

    #links {
        width: 70vw;
        height: 63vh;
        /* background-color: brown; */
        position: absolute;
        top: 22vh;
        margin-top: -19vh;
    }

    #links .link1 {
        font-size: 1.5vh;
        margin: 3vw 1vh;
    }

    #links .link2 {
        font-size: 1.5vh;
        margin: 0vw 1vw;
    }

    #links .link3 {
        font-size: 1.5vh;
        margin: 2vw 1vw;
    }

    #links .link4 {
        font-size: 1.5vh;
        margin: 0vw 1vw;
    }

    #links .link5 {
        font-size: 1.5vh;
        margin: 3vw 1vw;
    }

    footer {
        position: absolute;
        top: 125vh;
        height: 10vw;
    }

    footer p {
        text-align: center;
        margin-top: 1vh;
    }

}

@media screen and (max-width:1000px) and (max-height:500px) {
    .projects {
        height: 220vh;
        width: 90vw;
    }

    .images {
        height: 214vh;
    }

    #links {
        height: 215vh;
    }

    #links .link1 {
        margin: 5vw 1vh;
    }

    #links .link2 {
        margin: 6vw 1vw;
    }

    #links .link3 {
        margin: 3vw 1vw;
    }

    #links .link4 {
        margin: 4vw 1vw;
    }

    #links .link5 {
        margin: 7vw 1vw;
    }

    footer {
        position: absolute;
        top: 396vh;
        height: 8vw;
    }

    footer p {
        text-align: center;
        margin-top: 6vh;
    }
}
